* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  overflow-y: hidden;
  overflow-x: hidden;
  line-height: 1.4rem !important;
}

p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

a {text-decoration: none;}

.card {
  border-radius: 0 !important;
}
